<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Math Game
        </ion-title>
    </ion-toolbar>


</ion-header>

<ion-content>


    <ion-list class="contenty">
        <ion-item>
            <ion-label>Difficulty</ion-label>
            <ion-select value="easy" (ionChange)="difficultyChange($event)">
                <ion-select-option value="easy">Easy (1-10)</ion-select-option>
                <ion-select-option value="medium">Medium (1-100)</ion-select-option>
                <ion-select-option value="hard">Hard (1-1000)</ion-select-option>
                <ion-select-option value="master">Master (1-10000)</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>


    <ion-card class="equation">
        <ion-text class="texty">
            {{equationNumberOne}}
        </ion-text>
    </ion-card>
    <ion-card class="equation">

        <ion-text class="texty">
            {{placeHolderText}}
        </ion-text>
    </ion-card>

    <ion-card class="equation">
        <ion-text class="texty">

            {{equationNumberTwo}}
        </ion-text>
    </ion-card>

</ion-content>
<ion-footer class="card">
    <ion-card>
        <ion-button size="large" [disabled]="buttonDisable" color={{buttonOneColor}}
                    (click)="answered({value: answerOne, block: 'one'})"
                    expand="block">{{answerOne}}
        </ion-button>
        <ion-button size="large" [disabled]="buttonDisable" color={{buttonTwoColor}}
                    (click)="answered({value: answerTwo, block: 'two'})"
                    expand="block">{{answerTwo}}
        </ion-button>
        <ion-button size="large" [disabled]="buttonDisable" color={{buttonThreeColor}}
                    (click)="answered({value: answerThree, block: 'three'})"
                    expand="block">{{answerThree}}
        </ion-button>
    </ion-card>
</ion-footer>