.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card.equation {
   margin-top: 10%;
   height: 18%;
   text-align: center;
   color: black;
   box-shadow: none;

 }
.texty {
  font-size: xx-large;
margin: auto;
}
.card {
  background-color: #383a3e; // black
}
.contenty{
  background-color: #383a3e; // black
}

ion-icon {
  font-size: 100px;
}